@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body,
html {
  padding: 0;
  margin: 0;
  font-family:
    SF Pro Display,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  user-select: none;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html ::-webkit-scrollbar-track {
  background: transparent;
}

html ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

html.dark ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

strong {
  font-size: unset;
  font-weight: unset;
}

/* remove common styles pagination swiper */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: unset !important;
  top: unset !important;
  left: unset !important;
  width: unset !important;
}

#swiper-banner-pagination {
  bottom: 2px !important;
}

.swiper-pagination .swiper-pagination-bullet,
.swiper-pagination-recommend .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
  background: #d9d9d9;
  opacity: 90;
  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active,
.swiper-pagination-recommend .swiper-pagination-bullet-active {
  width: 23px;
  height: 10px;
  border-radius: 5px;
  background: #ff416b;
}
.avatar-gradient {
  background: linear-gradient(180deg, #ffd900, #b45264 93.68%);
}
@keyframes blink {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.animated-text {
  background: linear-gradient(
    270deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #7f00ff
  );
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: blink 3s linear infinite;
  font-weight: bold;
}
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.rainbow-border {
  border: 4px solid transparent;
  border-radius: 10px; /* Tùy chọn: Thêm bo tròn viền */
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #7f00ff,
    #ff0000
  );
  background-size: 200% 200%;
  animation: rainbow 4s linear infinite; /* Thời gian và loại chuyển động */
  -webkit-background-clip: border-box;
  background-clip: border-box;
  padding: 2px; /* Để thêm một khoảng trống bên trong viền */
}
